# Python cache
__pycache__/
*.py[cod]

# Runtime Output folders
OUTPUT/
DEBUG_INFO/
False_or_unfinished_runs/

# Local Configuration files (User specific settings)
bbox_config_*.json
last_run_settings.json
path_config.json
profiles.json
overlay_positions.json

# Setup Screenshots
setup_screenshot_*.png

# Logs and temporary files
*.log
*.csv

# Large Binaries or Environment folders
python_and_required_packages/
easyocr_models/

# Ignore all PNGs (like screenshots) by default...
*.png

# ...BUT keep the application icons!
!Credits.png
!Background.png